<li>
    {{burger_name}}

    <button class="devoure-it" data-id="{{id}}" data-newEat="{{devoured}}">
        {{#if devoured}}DEVOURED IT!{{else}}Eat Burger{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>