<li>
    <div class="list-group-item0" style="border-top: 2px solid #7f0000; background: black; color: white; text-align:center">
        <div style="padding-bottom: 2vh">
            <div clsss="row">
                <div style="padding: 2vh">{{name}}</div>
                <button class="change-eat" data-id="{{id}}" data-neweat="{{devoured}}">
                    {{#if devoured}}Ready to Eat!{{else}}Order Again?{{/if}}
                </button>
                <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
            </div>
        </div>
    </div>


</li>